@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @if (ViewBag.LoggedInUser != null)
    {
        <p>Hello, @ViewBag.LoggedInUser! You are logged in.</p>
    }
    else
    {
        <p>You are not logged in. <a asp-controller="Login" asp-action="Index">Login here</a>.</p>
    }
</div>
